.mini-col {
    height: 100px;
}

.mini-col-icon {
    font-size: 2rem;
}

.star-rating {
    color: yellow;
    font-size: 1.5rem;
}

.col-icon {
    font-size: 1.5rem;
}

.star-rating-tbl {
    color: #FDCC0D;
}

.add{
    text-decoration: none;
    display: block;
    width: 100px;
    height: 50px;
}